<h2>Hi brainless!</h2>

<p>
THIS IS YOUR VIRTUALbRAIN 
</p>
<form action='/' method='POST'>
  Do something: <input name="task"/>
  <input type="submit" value="add to list"/>
</form>

<% if(task && !task.empty?) %>
<ul>
<li><%= task %></li>
</ul>
<% end %>

