


<h2 style="color:#008686">Hi brainless!</h2> 
<% if user %>       <!-- Abfrage, ob als User eingeloggt, dann Anzeige auf Startseite-->
<p><%=user.email%><p>
  <form action='/sessions/delete' method='POST'>
<button class="header-nav-link sign-out-button tooltipped tooltipped-s" data-ga-click="Header, sign out, icon:logout" aria-label="Sign out">

    <span class="octicon octicon-sign-out"></span>

</button>  </form>
  <% else%>
    <a style="color:#005252" href="/users/signin">sign in</a>
    <a style="color:#005252" href="/users/new">register</a>
  <% end %>



<button class="header-nav-link sign-out-button tooltipped tooltipped-s" data-ga-click="Header, sign out, icon:logout" aria-label="Sign out">

    <span class="octicon octicon-sign-out"></span>

</button>





  <p>
    THIS IS YOUR VIRTUALbRAIN 
  </p>
  <% if user %>
  <form action='/tasks/create' method='POST'>
    Do something: <input name="task" autofocus="true"/>
    <input type="submit" value="add to list"/>
  </form>


  <form method="GET" action="/">
    <button style="color:#550000" tabindex="15" name="alphabetically">A-Z</button>
    <button style="color:#550000" tabindex="15" name="newest">latest first</button>
  </form>


  <ul>
    <% tasks.each do |task| %>
    <li>
      <form action="/tasks/delete" METHOD="POST">
        <%= h(task.name) %>
        <input type="hidden" value="<%= task.id %>" name="task_id"/>
        <button style="color:#880000" tabindex="15">delete</button>
      </form>
    </li>
    <% end %>
  </ul>
  <% end %>

  <a style="color:#005252" href="/imprint">imprint</a>

