


<h2 style="color:#008686">Hi brainless!</h2> 
<a style="color:#005252" href="/users/new">sign in</a>
<a style="color:#005252" href="/users/new">register</a>

<p>
THIS IS YOUR VIRTUALbRAIN 
</p>
<form action='/tasks/create' method='POST'>
  Do something: <input name="task" autofocus="true"/>
  <input type="submit" value="add to list"/>
</form>


<form method="GET" action="/">
	<button style="color:#550000" tabindex="15" name="alphabetically">A-Z</button>
	<button style="color:#550000" tabindex="15" name="newest">latest first</button>
</form>


<ul>
	<% tasks.each do |task| %>
		<li>
			<form action="/tasks/delete" METHOD="POST">
				<%= h(task.name) %>
				<input type="hidden" value="<%= task.id %>" name="task_id"/>
				<button style="color:#880000" tabindex="15">delete</button>
			</form>
		</li>
	<% end %>
</ul>

<a style="color:#005252" href="/imprint">imprint</a>

