<!DOCTYPE html>
<html>
  <head>
  	
  	<meta charset="utf-8 ">
    <title>Virtual Brain</title>
    <link href='/css/style.css' type='text/css' rel='stylesheet'>
    <!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
  </head>
  <body>
  	<div class= "container">
    	<%= yield %>	<!-- hier wird der RubyCode eingefügt -->
    </div>
    <!-- Latest compiled and minified JavaScript -->
 	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
  </body>
</html>
