<!DOCTYPE html>
<html>
  <head>
  	<meta charset="utf-8 ">
    <title>Virtual Brain</title>
    <link href='/css/style.css' type='text/css' rel='stylesheet'>
  </head>
  <body>
    <%= yield %>	<!-- hier wird der RubyCode eingefügt -->
  </body>
</html>
