<p>
	Create your account: 
</p>

<form action='/users/create' method='POST'>
	<p>Your email:</p>
	<input type="text" name="email" autofocus="true"/>
  <p>Your password:</p>
  <input type="password" name="password" autofocus="true"/>
  <input type="submit" value="submit"/>
</form>